.bulletlist {
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin:auto;
    box-shadow: h-offset v-offset blur spread color;
}

