.card {
    background-color: rgb(51, 49, 49);
    color: white;
    height: auto;
    -webkit-text-stroke-width: 0.33px;
    -webkit-text-stroke-color: black;
    margin: 10px;
}

.img {
    height: 100px;
    width: 80px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.armor-value {
    display: block;
    text-align: start;
    border-top: 1px solid #0000008c;    
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }



.list {
    text-align: start;
    list-style-type: none;
    border: 1px solid #0000008c;
    width: auto;
    padding-left: 0;
    margin: 2px;
}

.item {
    padding: 2px;
    align-items: start;
}
.card-title {
    margin-bottom: 5px;
}

.class {
    margin-right: 5px;
}

.custom-table {
    border-top: 1px solid black;
    margin: 0;
    padding: 0;
}

.tablecell { 
    border-top: 1px solid rgba(0, 0, 0, 0.452);
    border-bottom: 1px solid rgba(0, 0, 0, 0.418);
    text-align: center;
}

.tablelines {
    border-right: 1px solid black;
}