.card {
    background-image: url("/cardbackground.webp");
    background-size: cover;
    color: rgb(248, 246, 246);
    height: auto;
    text-shadow: rgb(65, 64, 64) 0px 0px 10px;
    margin: 3px;
    font-size: 14px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.425);
}

.img {
    height: 100px;
    width: 80px;
    align-self: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.armor-value {
    display: inline-block;
    text-align: start;
    border-top: 1px solid rgb(36, 35, 35);
    margin: 0;
    padding: 0;
  }

.effective {
    margin: 0;
    padding: 0;
    display: inline;
    font-size: large;
    font-weight: 750;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.021);
}

.list {
    text-align: start;
    list-style-type: none;
    width: auto;
    padding-left: 0;
    margin: 2px;
}

.item {
    padding: 2px;
    align-items: start;
}

.center {
    text-align: center;
    font-size: large;
    font-weight: 999;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.425);
}
.card-title {
    margin: 0;
    font-weight: 999;
    font-size: large;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.425);

}

.custom-table {
    border-top: 1px solid rgb(0, 0, 0);   
    -webkit-text-stroke-color: rgba(0, 0, 0, 0); 
}

.tablecell { 
    border: 1px solid rgb(0, 0, 0);
    text-align: center;
}

